
<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>
	
	<form action="/page/about/add_content" method = "post"  >
		  <div class="form-group">
		    <label for="Email">Title</label>
		    <input type="text" class="form-control" id="about" name="title" placeholder="add title">
		  </div>		  
		 
		  <div class="form-group">
		    <label for="about">About</label>
		    <textarea class="form-control" id="about_content" rows="3" name = "content" placeholder="add content ..."></textarea>
		  </div>

		  <button type="submit" class="btn btn-primary">submit</button>
		  <a href = "#" class="btn btn-success" style="display: inline;">view all about us</a>
</form>


  



  
      </div>
    </main>
  </div>
</div>







 



        <script src="/js/dashboard.js"></script></body>
        <%- include('../partials/footer'); %>
</html>