
<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>

  WElcome to the admin dashboard.
  don't bring your jokes or you'll be kicked out of here




  
      </div>
    </main>
  </div>
</div>







 



        <script src="/js/dashboard.js"></script></body>
        <%- include('../partials/footers'); %>
</html>
