		
<!-- Footer section -->
  <footer class="footer-section set-bg" data-setbg="/images/footer-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-widget">
          </images src="/images/logo.png" alt="">
          <p>pata space small description</p>
          <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-widget">
          <div class="contact-widget">
            <h5 class="fw-title">CONTACT US</h5>
            <p><i class="fa fa-map-marker"></i>pata space </p>
            <p><i class="fa fa-phone"></i>(+254) 791 000 0000</p>
            <p><i class="fa fa-envelope"></i>pataspace@gmail.com</p>
            <p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-widget">
          <div class="double-menu-widget">
            <h5 class="fw-title">POPULAR PLACES</h5>
            <ul>
              <li><a href="">Nairobi - Githurai</a></li>
              <li><a href="">Nairobi - Kahawa</a></li>
              <li><a href="">Nairobi - Wendani </a></li>
              <li><a href=""> Nairobi - Eastlands </a></li>
              <li><a href="">Nairobi - westlands</a></li>
            </ul>
            <ul>
              <li><a href="">Kariobangi</a></li>
              <li><a href="">Gikomba</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6  footer-widget">
          <div class="newslatter-widget">
            <h5 class="fw-title">NEWSLETTER</h5>
            <p>Subscribe your email to get the latest news and new offer also discount</p>
            <form class="footer-newslatter-form">
              <input type="text" placeholder="Email address">
              <button><i class="fa fa-send"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-nav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Featured Listing</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>        
      </div>
    </div>
  </footer>
  <!-- Footer section end -->
                                        
  <!--====== Javascripts & Jquery ======-->

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/magnific-popup.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>



