
<!DOCTYPE html>
<html>
<head>
  <title>landlord page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheet/landlord_dashboard.css">

  <style type="text/css">
    body{ 
          padding: 40px;
       }
  </style>

</head>
<body>








  
 <!--  <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="/js/landlord_dashboard"></script> -->
  