  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default fixed-top">
  <a class="navbar-brand" href="/page/admin/page">Admin Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/page/users/property_page">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          <a class="dropdown-item" href="#">Create User</a>
          <a class="dropdown-item" href="#">Check all users</a>
          <a class="dropdown-item" href="#">Check Admins</a>
        </div>
      </li>
    </ul>

    
    
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button" style="margin-left: 3px;">Search</button>
      </form>

      
    

  </div>
</nav>