<div class="container-fluid"  >
  <div class="row" >
    <nav class="col-md-2 col-sm-3 d-none d-md-block bg-light sidebar" style="position: fixed;height: 100%;background-color: red ">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary"  href="/admin/admin/getUser">
              <span data-feather="file" class="badge badge-light">5</span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/admin/registerUser">
              <span data-feather="shopping-cart"></span>
              Register 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/admin/contactPage">
              <span data-feather=""></span>
             contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/admin/adminAboutPage">
              <span data-feather="bar-chart-2"></span>
              About us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              View all properties
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              view comments
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/admin/admin_Agentapprove_show">
              <span data-feather="layers"></span>
              unApproved Agents
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/admin/admin/delprops">
              <span data-feather="layers"></span>
              deleted properties
            </a>
          </li>

        </ul>


        
        
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">House Renting Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a href="/page/category/add_category" type="button" class="btn btn-sm btn-outline-secondary">create category</a>
            <a href="/category/category/get_category" type="button" class="btn btn-sm btn-outline-secondary">view categories</a>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

     
     